<img src="Assets/Header.png" style="width: 800px;">

# `Contents`

- [Load Libraries](#load)
- [Import CSV's](#csv)
- [Cleaning](#cleaning) 
	- [Comments & Shares](#commentsshares) 
	- [Data Formats](#dataformat) 
	- [Date Cleaning](#datecleaning)   
- [Next Steps](#next)

<a id="load"></a>
# `Load Libraries`
---

In [1]:
import numpy as np
import pandas as pd
import time
import ast
import re as re

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

<a id="csv"></a>
# `Import CSV's`
---

In [2]:
sainsburys_df = pd.read_csv('./Dirty_Data/Sainsburysfinal_desktop.csv').drop(['Unnamed: 0'],axis=1)
tesco_df = pd.read_csv('./Dirty_Data/Tescofinal_desktop.csv').drop(['Unnamed: 0'],axis=1)
waitrose_df = pd.read_csv('./Dirty_Data/waitroseandpartnersfinal_desktop.csv').drop(['Unnamed: 0'],axis=1)
lidl_df = pd.read_csv('./Dirty_Data/lidlukfinal_desktop.csv').drop(['Unnamed: 0'],axis=1)
asda_df = pd.read_csv('./Dirty_Data/asdafinal_desktop.csv').drop(['Unnamed: 0'],axis=1)
morrisons_df = pd.read_csv('./Dirty_Data/morrisonsfinal_desktop.csv').drop(['Unnamed: 0'],axis=1)
mns_df = pd.read_csv('./Dirty_Data/marksandspencerfinal_desktop.csv').drop(['Unnamed: 0'],axis=1)

In [3]:
#drop nulls and duplicates
tesco_df.dropna(inplace=True)
tesco_df.drop_duplicates(inplace=True)
print(tesco_df.shape)
sainsburys_df.dropna(inplace=True)
sainsburys_df.drop_duplicates(inplace=True)
print(sainsburys_df.shape)
waitrose_df.dropna(inplace=True)
waitrose_df.drop_duplicates(inplace=True)
print(waitrose_df.shape)
lidl_df.dropna(inplace=True)
lidl_df.drop_duplicates(inplace=True)
print(lidl_df.shape)
mns_df.dropna(inplace=True)
mns_df.drop_duplicates(inplace=True)
print(mns_df.shape)
morrisons_df.dropna(inplace=True)
morrisons_df.drop_duplicates(inplace=True)
print(morrisons_df.shape)
asda_df.dropna(inplace=True)
asda_df.drop_duplicates(inplace=True)
print(asda_df.shape)

(1088, 5)
(741, 5)
(846, 5)
(1401, 5)
(880, 5)
(888, 5)
(778, 5)

In [4]:
df = pd.concat([sainsburys_df,tesco_df,waitrose_df,lidl_df,mns_df,morrisons_df,asda_df],axis=0)

In [5]:
df.head()

,Post_Content,Date,Comments_Shares,All_Responses,Brand
0,What a Bude-iful week! We gave one of our car ...,Yesterday at 1:12 PM,"1K Comments3,266 Shares653K Views",6.8K,Sainsburys
1,Bake a festive showstopper with Sainsbury’s ma...,December 8 at 4:00 PM,74 Comments23 Shares,132,Sainsburys
2,Get in the party spirit with Sainsbury’s magaz...,December 5 at 5:00 PM,33 Comments5 Shares18K Views,142,Sainsburys
3,Harry and Meghan’s wedding cake maker Claire P...,December 1 at 3:59 PM,59 Comments26 Shares,193,Sainsburys
4,These cookie-cup mince pies are deliciously ch...,November 29 at 3:59 PM,34 Comments22 Shares,187,Sainsburys

<a id="cleaning"></a>
# `Cleaning`
---

#### As you can see we have a few cleaning and formatting things we need to look at:

    - Split 'Comments_Shares' merged column into three columns: one for comments, one for shares and one for views (infers a video)
    
    - Anywhere we have a reference of - for example - '1.4K' we need to convert that to 1400, or if 1.2M then convert that to 1200000
    
    - Finally we need to ensure we are dealing with all numbers so will need to convert them from string objects to integers
    
    - I also want to sort the date column out and prepare it for any time series analysis that needs doing:
        - align format of date column to MONTH / DATE / YEAR
        - create year column
        - remove odd dates e.g 'Yesterday'

In [6]:
df.shape

(6622, 5)

<a id="commentsshares"></a>
## `Comments & Shares` 
---

In [7]:
#there's quite a lot to tweak here - doesn't look too pretty
pd.DataFrame(df.Comments_Shares.head())

                     Comments_Shares
0  1K Comments3,266 Shares653K Views
1               74 Comments23 Shares
2       33 Comments5 Shares18K Views
3               59 Comments26 Shares
4               34 Comments22 Shares

In [8]:
#getting rid of any whitespace (we can add relevant space later on)
df.Comments_Shares = df.Comments_Shares.str.replace(' ','')

In [9]:
#preparing the 'Comment_Share' columns so I can cleanly split them onto Comments / Share columns
df.Comments_Shares = df.Comments_Shares.str.replace('Comments','Comments, ')
df.Comments_Shares = df.Comments_Shares.str.replace('Shares','Shares, ')

In [10]:
#now we need to split out the Comments, Shares and views data into their own columns
df[['Comments','Shares','Views']] = df.Comments_Shares.str.split(' ', expand = True)
df.drop(['Comments_Shares'],axis=1,inplace=True)

In [11]:
#getting rid of any new nulls and re setting the index
df.dropna(inplace=True)
df.reset_index(drop=True, inplace= True)

In [12]:
#getting there...
df.head()

,Post_Content,Date,All_Responses,Brand,Comments,Shares,Views
0,What a Bude-iful week! We gave one of our car ...,Yesterday at 1:12 PM,6.8K,Sainsburys,"1KComments,","3,266Shares,",653KViews
1,Bake a festive showstopper with Sainsbury’s ma...,December 8 at 4:00 PM,132,Sainsburys,"74Comments,","23Shares,",
2,Get in the party spirit with Sainsbury’s magaz...,December 5 at 5:00 PM,142,Sainsburys,"33Comments,","5Shares,",18KViews
3,Harry and Meghan’s wedding cake maker Claire P...,December 1 at 3:59 PM,193,Sainsburys,"59Comments,","26Shares,",
4,These cookie-cup mince pies are deliciously ch...,November 29 at 3:59 PM,187,Sainsburys,"34Comments,","22Shares,",

In [13]:
#remove the 'comments' / 'shares' / views characters
df['Comments'] = df['Comments'].apply(lambda x: x.replace('Comments,',''))
df['Comments'] = df['Comments'].apply(lambda x: x.replace('Comments',''))
df['Shares'] = df['Shares'].apply(lambda x: x.replace('Shares,',''))
df['Shares'] = df['Shares'].apply(lambda x: x.replace(',',''))
df['Views'] = df['Views'].apply(lambda x: x.replace('Views',''))

In [14]:
df.head()

,Post_Content,Date,All_Responses,Brand,Comments,Shares,Views
0,What a Bude-iful week! We gave one of our car ...,Yesterday at 1:12 PM,6.8K,Sainsburys,1K,3266,653K
1,Bake a festive showstopper with Sainsbury’s ma...,December 8 at 4:00 PM,132,Sainsburys,74,23,
2,Get in the party spirit with Sainsbury’s magaz...,December 5 at 5:00 PM,142,Sainsburys,33,5,18K
3,Harry and Meghan’s wedding cake maker Claire P...,December 1 at 3:59 PM,193,Sainsburys,59,26,
4,These cookie-cup mince pies are deliciously ch...,November 29 at 3:59 PM,187,Sainsburys,34,22,

In [15]:
## There are a few random anomalies - namely where friends of mine (remember, I had to be logged in to access the share data) have liked posts

In [16]:
df[df['All_Responses'].str.contains("Steve")] #2147

,Post_Content,Date,All_Responses,Brand,Comments,Shares,Views
2147,Sourdough toast topped with mashed avocado and...,"April 18, 2016",Steve Lucijan Fle-Danijelović and 11K others,waitroseandpartners,700,710,

In [17]:
df[df['All_Responses'].str.contains("Wai")] #2523 / 2533

,Post_Content,Date,All_Responses,Brand,Comments,Shares,Views
2523,Which of these deliciously healthy breakfast r...,"March 13, 2015",Waitrose & Partners and 166 others,waitroseandpartners,21,6,
2533,Thumbs up if you’re a fan of the mighty strawb...,"March 6, 2015",Waitrose & Partners and 918 others,waitroseandpartners,43,55,

In [18]:
df.drop([2147,2523,2533],axis=0,inplace=True)

<a id="dataformat"></a>
## `Data Formats`
---

In [19]:
#function that will remove a 'K', convert to integers and multiply it by 1000 
def kformat(x):
    try:
        if 'K' in x:
            return int(float(x.replace('K',''))*1000)
        elif 'M' in x:
            return int(float(x.replace('M',''))*1000000)
        else:
            return int(x)
    except:
        return x
    
#calling the function on anywhere that requires that formatting
df = df.applymap(kformat)

In [20]:
df.dtypes

Post_Content     object
Date             object
All_Responses     int64
Brand            object
Comments          int64
Shares            int64
Views            object
dtype: object

In [21]:
def converter(x):
    try:
        int(x)
        return x
    except:
        return 0

In [22]:
df.Views = df.Views.apply(converter)
df.Views.isnull().sum()

0

In [23]:
# I'm not a fan of how some of the brands are labelled so will tweak them a bit to read better
df['Brand'].replace({'Sainsburys': 'Sainsburys', 'Tesco': 'Tesco', 'waitroseandpartners': 'Waitrose', 
                        'lidluk': 'Lidl','MarksandSpencer' : 'Marks and Spencer','Morrisons' : 'Morrisons','asda': 'ASDA'},inplace = True)

<a id="datecleaning"></a>
## `Date Cleaning`
---

- I also want to sort the date column out and prepare it for any time series analysis that needs doing:  
    - align format of date column to MONTH / DATE / YEAR
    - create year column
    - remove odd dates e.g 'Yesterday'

In [24]:
#function that cleans date data into the format I want
def date_cleaner(x):
    if re.search('\ at.*',x):
        return re.sub('\ at.*',', 2018',x)
    elif re.search('^(?!.*(2013|2014|2015|2016|2017|2018)).*$',x):
        return x + ', 2018'
    else:
        return x
    
df['Date'] = df['Date'].apply(date_cleaner)

In [25]:
#get rid of odd dates - artifacts from scraping on Facebook
df = df[df.Date != 'Yesterday, 2018']
df=df.drop([2566,3925,717,4798,716,4799,3924,2567,4800])

In [26]:
df.sort_values(by='Date').head()

,Post_Content,Date,All_Responses,Brand,Comments,Shares,Views
1580,We’d love to be able to bounce our way through...,"April 1, 2015",713,Tesco,86,64,0
1581,Reaching items on high shelves isn’t always ea...,"April 1, 2015",13000,Tesco,3500,3985,0
2498,Today’s Q&A with Martha Collison is now closed...,"April 1, 2015",1400,Waitrose,79,38,0
1012,Watch our guide to making this fun and colourf...,"April 1, 2016",1400,Tesco,282,650,468000
2154,"On the table in 25 minutes, our recipe for car...","April 1, 2016",51,Waitrose,3,6,0

In [27]:
#add a year column
df['Year'] = df['Date'].apply(lambda x: x.split(',')[1].strip())

In [28]:
#convert Date column to date time format
df.Date = pd.to_datetime(df.Date)

In [29]:
final = df[['Date','Year','Brand', 'Post_Content', 'All_Responses', 'Comments', 'Shares',
       'Views']]

In [30]:
#looks decent
final.dtypes

Date             datetime64[ns]
Year                     object
Brand                    object
Post_Content             object
All_Responses             int64
Comments                  int64
Shares                    int64
Views                     int64
dtype: object

## `Save the final df to csv`

In [31]:
final.to_csv('./Clean_Data/Final_merged.csv',index=False)

<a id="next"></a>
# `Next Steps:`
---

In the next section I'm going to consider new features, either from existing data in the set or perhaps looking at getting data from other sources